<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Manuel Jiménez Martínez y Carlos Lasso de la Vega.
</p>
<p>Enlace Github
<a href=https://github.com/manujmg/quiz_2017>aquí</a>
</p>

<img src="/images/manuel.png" width="30%"/>

<img src="/images/carlos.png" width="30%"/>
