<h1>Ayuda</h1>

<p>
    Un quiz es un tipo de juego de mente, concurso o competencia de preguntas en el cual los
    jugadores intentan responder en forma correcta una serie de preguntas.
</p>
<p>
    Para responder, debe escribir su respuesta en los recuadros vacíos.
</p>
<p>
    El objetivo de este portal es crear una red social donde los usuarios se puedan registrar y
    subir sus propios quizzes.
</p>


